/node_modules
/public/hot
/public/storage
/public/img/comprobantes
/public/img/comprobantes_fotos
/public/img/galeria
/public/img/app/private/fotos_originales
/public/img/galeria/previews
/public/img/galeria/thumbs
/public/img/galeria/*
/public/comprobantes
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
